h1{
    color:white;
}
body {
    Background: #1a1a1a;
}
#message {
    border-color: #34969d;
}

#btn {
    background: #34969d;
}




.row {
    background: #a3dbda;
    border: ridge;
    min-height: 300px;
    height: 300px;
    max-height: 300px;
    overflow-y: scroll;
}

.user1 {
    text-decoration-style: double;
    color: #34969d;
}
